$clr-light: #fff;
$clr-dark: #000;
$clr-hover: #d8de11;
$clr-form-input: #b4adad;
$clr-backlog-input: rgba(76, 80, 93, 0.5);;

$clr-bg-copyright: #43a06d;
$clr-bg-mainpart: #5fc18b;
$clr-bg-mainpartbottom: #44a36f;

$font-input: 'Open Sans', sans-serif;

$mq-desktop-min: 1201px;
$mq-desktop-hd: 1336px;
$mq-desktop-medium: 1680px;
$mq-desktop-fullhd: 1920px;

$mq-tablet: $mq-desktop-min - 1;
$mq-tablet-medium: 1024px;
$mq-tablet-small: 980px;
$mq-tablet-min: 768px;


$mq-mobile: $mq-tablet-min - 1;
$mq-mobile-medium: 600px;
$mq-mobile-small: 480px;
$mq-mobile-min: 360px;
