$clr-light: #fff;
$clr-dark: #000;
$clr-hover: #d8de11;
$clr-form-input: #b4adad;
$clr-backlog-input: rgba(76, 80, 93, 0.5);;

$clr-bg-copyright: #43a06d;
$clr-bg-mainpart: #5fc18b;
$clr-bg-mainpartbottom: #44a36f;


