@import "helpers/reboot";
@import "core/variables";

// main css
body {
	background-color: $colorLight;
	color: $colorLight;
	font-family: arial;
}
button{
	cursor: pointer;
}
.wrapper{
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

@import "common/header";



.main-cnt{
	.docs{
		margin-top: 170px;
		margin-bottom: 100px;
		margin-left: auto;
		margin-right: auto;
		color: $colorDark;
		.docs-ul{
			padding: 0;
		}
		.docs-li{
			display: inline-block;
			width: 45%;
			min-width: 200px;
			margin-right: 40px;
		}
		.doc-logo{
			float: left;
			margin-right: 30px;
		}
	}
	.green-part{
		background-color: $bgColorGreenPart;
		min-height: 500px;
		.reen-part-text{
			font-size: 14px;
		}
	}
	.green-part-top{
		padding-top: 80px;
		.green-part-top-pic{
			position: relative;
			.ipad-img{
				position: absolute;
				right: 43%;
			}
		}
		.green-part-top-text{
			width: 70%;
			min-width: 500px;
			margin-right: auto;
			margin-left: auto;
			padding-top: 200px;
			position: relative;
			z-index: 3;
			.green-part-top-text_heading{
				text-align: center;
			}
			
		}
	}
	.green-part-bottom{
		background-color: $bgColorGreenPartBottom;
		min-height: 590px;
		.green-part-bottom-pic{
			position: relative;
			.laptop-img{
				position: absolute;
				right: 62%;
			}
		}
		.green-part-bottom-text{
			position: absolute;
			left: 46%;
			width: 35%;
			.download-button{
				display: inline-block;
				background: rgba(0,0,0,0);
				color: $colorLight;
			    padding: 7px 25px;
				border-radius: 5px;
				border: 3px solid $colorLight;
				font-size: 27px;
				margin-top: 50px;
				width: 202px;
				height: 57px;
				text-align: center;
				&:hover{
					text-decoration: none;
					color: $colorButtonHover;
					border: 3px solid $colorButtonHover;
				}
			}
		}
	}
	.triangle {
	    overflow: hidden;
	    position: relative;
	    padding-top: 20%;
	    background: rgba(0,0,0,0);
	    &:before {
	        content: '';
	        position: absolute;
	        width: 110%;
	        top: 0;
	        bottom: 0;
	        right: 0;
	        background: rgba(0, 0, 0,0.5);
	        display: block;
	        transform-origin: 100% 0;
	        transform: rotate(-11deg);
	    }
	    &:after {
	        content: '';
	        position: absolute;
	        width: 110%;
	        top: 7%;
	        bottom: 0;
	        right: 0;
	        background: $bgColorGreenPartBottom;
	        display: block;
	        transform-origin: 100% 0;
	        transform: rotate(-10deg);
	    }
	}



}

@import "common/footer";
















