// reset
body, header, p, h1, button{
	padding: 0;
	margin: 0;
	outline: none;
	text-decoration: none;
}

// main css
body {
	background-color: #fff;
	color: #fff;
	font-family: arial;
}
button{
	cursor: pointer;
}
h1{
	font-size: 39px;
}
h2{
	font-size: 27px;
}
p{
	font-size: 14px;
}

.page-header{
	background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0)), url(../img/city.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	min-height: 800px;
	min-width: 900px;
	position: relative;
	padding-bottom: 200px;
	
	.header-slogan{
		font-size: 49px;
		text-transform: uppercase;
		padding-top: 78px;
		padding-bottom: 63px;
	}
	.logo{
		padding-top: 68px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		text-shadow: 1px 1px #000;
		.logo-img{
			width: 273px;
		}
	}

	.head-form{
		width: 340px;
	    background: #fff;
	    border: 1px solid #b1b1b1;
	    border-radius: 5px;
	    margin-left: auto;
	    margin-right: auto;
	    color: #938e8e;
	    position: absolute;
		left: calc(50% - 170px);

	    .col-3{
			padding: 0px;
			.gallery-img{
				width: inherit;
			}
		}
		.zip-code{
			display: block;
		    width: 250px;
		    margin: 31px auto 24px;
		    border-radius: 2px;
		    border: 1px solid #e5e5e5;
		}
		.press-me{
			display: block;
			width: 200px;
			background: #4242e8;
			color: #fff;
			padding: 3px;
			margin: 10px auto 20px;
			font-size: 20px;

		}
		.form-text{
			font-size: 15px;
		    text-align: center;
    		padding: 17px 40px 0px;
		}
	}
	
}


.main-cnt{
	.docs{
		margin-top: 170px;
		margin-bottom: 100px;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		color: #000;
		li{
			display: inline-block;
			width: 45%;
			min-width: 200px;
			margin-right: 50px;
		}
		.doc-logo{
			float: left;
			margin-right: 40px;
		}
	}
	.green-part{
		background-color: #5fc18b;
		min-height: 500px;
		.reen-part-text{
			font-size: 14px;
		}
	}
	.green-part-top{
		padding-top: 80px;
		.green-part-top-pic{
			position: absolute;
			width: 100%;
			.ipad-img{
				position: absolute;
				right: 43%;
			}
		}
		.green-part-top-text{
			width: 50%;
			min-width: 500px;
			margin-right: auto;
			margin-left: auto;
			margin-top: 190px;
			position: relative;
			z-index: 3;
			.green-part-top-text_heading{
				text-align: center;
			}
			
		}
	}
	.green-part-bottom{
		background-color: #44a36f;
		min-height: 590px;
		.green-part-bottom-pic{
			position: absolute;
			width: 100%;
			.laptop-img{
				position: absolute;
				right: 62%;
			}
		}
		.green-part-bottom-text{
			position: absolute;
			left: 46%;
			width: 35%;
			.download-button{
				display: inline-block;
				background: rgba(0,0,0,0);
				color: #fff;
			    padding: 7px 25px;
				border-radius: 5px;
				border: 3px solid #fff;
				font-size: 27px;
				margin-top: 50px;
				width: 202px;
				height: 57px;
				text-align: center;
				&:hover{
					text-decoration: none;
					color: #d8de11;
					border: 3px solid #d8de11;
				}
			}
		}
	}
	.triangle {
	    overflow: hidden;
	    position: relative;
	    padding-top: 20%;
	    background: rgba(0,0,0,0);
	    &:before {
	        content: '';
	        position: absolute;
	        width: 110%;
	        top: 0;
	        bottom: 0;
	        right: 0;
	        background: rgba(0, 0, 0,0.5);
	        display: block;
	        transform-origin: 100% 0;
	        transform: rotate(-11deg);
	    }
	    &:after {
	        content: '';
	        position: absolute;
	        width: 110%;
	        top: 7%;
	        bottom: 0;
	        right: 0;
	        background: #44a36f;
	        display: block;
	        transform-origin: 100% 0;
	        transform: rotate(-10deg);
	    }
	}



}

.footer{
	position: relative;
	margin-top: -150px;
	#map{
		width: 100%;
		height: 640px;
	}
	.backlog{
		position: absolute;
		top: 160px;
		left: calc(50% - 215px);
		z-index: 3;
		width: 430px;
		height: 430px;
		border-radius: 50%;
		border: 1px solid #fff;
		background: rgba(255, 255, 255, 0.85);
		padding-top: 110px;
		.backlog-input{
			display: block;
			margin-right: auto;
			margin-left: auto;
			margin-bottom: 15px;
			width: 275px;
			border: 1px solid #d8d8d8;
		}
		.backlog-message{
			height: 80px;
		}
		.send-button{
			background-image: url('/img/ok_btn.png');
			width: 66px;
			height: 66px;
			border-radius: 50%;
			margin-top: 10px;
			cursor: pointer;
			position: absolute;
			left: calc(50% - 33px);
			outline: none;
		}

	}
	.copyright{
		background: #43a06d;
		padding-top: 21px;
		padding-bottom: 14px;
		text-align: center;
		font-size: 14px;
	}
}
















