body, header, p, h1, button {
  padding: 0;
  margin: 0;
  outline: none;
  text-decoration: none; }

body {
  background-color: #fff;
  color: #fff;
  font-family: arial; }

button {
  cursor: pointer; }

header {
  background: -webkit-gradient(linear, left bottom, left top, from(black), to(rgba(0, 0, 0, 0))), url(../img/city.png);
  background: -webkit-linear-gradient(bottom, black, rgba(0, 0, 0, 0)), url(../img/city.png);
  background: -o-linear-gradient(bottom, black, rgba(0, 0, 0, 0)), url(../img/city.png);
  background: linear-gradient(to top, black, rgba(0, 0, 0, 0)), url(../img/city.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  width: 100%;
  height: 520px;
  min-width: 900px; }
  header h1 {
    font-weight: normal; }
  header .logo {
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-shadow: 1px 1px #000; }
    header .logo img {
      width: 220px; }
  header form {
    width: 300px;
    background: #fff;
    border: 0.5px solid #b1b1b1;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    margin: 15px auto;
    color: #938e8e;
    -webkit-box-shadow: 0px 0.5px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0.5px rgba(0, 0, 0, 0.3); }
    header form .col-3 {
      padding: 0px; }
      header form .col-3 img {
        width: inherit; }
    header form input, header form button {
      display: block;
      width: 200px;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: auto;
      margin-right: auto; }
    header form button {
      width: 160px;
      background: #4242e8;
      color: #fff;
      padding: 5px; }
    header form p {
      text-align: center;
      padding: 10px 50px 0px; }

.main-cnt .docs {
  margin-top: 140px;
  margin-bottom: 100px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: #000; }
  .main-cnt .docs li {
    display: inline-block;
    width: 45%;
    min-width: 200px;
    margin-right: 50px; }
  .main-cnt .docs .doc-logo {
    float: left;
    margin-right: 40px; }

.main-cnt .green-part {
  background-color: #5fc18b;
  min-height: 500px; }
  .main-cnt .green-part p {
    font-size: 14px; }

.main-cnt .green-part-top {
  padding-top: 50px; }
  .main-cnt .green-part-top .green-part-top-pic {
    position: absolute;
    width: 100%; }
    .main-cnt .green-part-top .green-part-top-pic img {
      position: absolute;
      right: 43%; }
  .main-cnt .green-part-top .green-part-top-text {
    width: 50%;
    min-width: 500px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 200px;
    position: relative;
    z-index: 3; }
    .main-cnt .green-part-top .green-part-top-text h2 {
      text-align: center; }

.main-cnt .green-part-bottom {
  background-color: #44a36f;
  min-height: 590px; }
  .main-cnt .green-part-bottom .green-part-bottom-pic {
    position: absolute;
    width: 100%; }
    .main-cnt .green-part-bottom .green-part-bottom-pic img {
      position: absolute;
      right: 62%; }
  .main-cnt .green-part-bottom .green-part-bottom-text {
    position: absolute;
    left: 46%;
    width: 35%; }
    .main-cnt .green-part-bottom .green-part-bottom-text button {
      background: rgba(0, 0, 0, 0);
      color: #fff;
      padding: 7px 25px;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      border: 2px solid #fff;
      font-size: 20px;
      margin-top: 50px; }

.main-cnt .triangle {
  overflow: hidden;
  position: relative;
  padding-top: 20%;
  background: rgba(0, 0, 0, 0); }
  .main-cnt .triangle:before {
    content: '';
    position: absolute;
    width: 110%;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    display: block;
    -webkit-transform-origin: 100% 0;
        -ms-transform-origin: 100% 0;
            transform-origin: 100% 0;
    -webkit-transform: rotate(-11deg);
        -ms-transform: rotate(-11deg);
            transform: rotate(-11deg); }
  .main-cnt .triangle:after {
    content: '';
    position: absolute;
    width: 110%;
    top: 7%;
    bottom: 0;
    right: 0;
    background: #44a36f;
    display: block;
    -webkit-transform-origin: 100% 0;
        -ms-transform-origin: 100% 0;
            transform-origin: 100% 0;
    -webkit-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
            transform: rotate(-10deg); }

footer {
  position: relative;
  margin-top: -150px; }
  footer #map {
    width: 100%;
    height: 600px; }
  footer form {
    position: absolute;
    top: 150px;
    left: -webkit-calc(50% - 200px);
    left: calc(50% - 200px);
    z-index: 3;
    width: 400px;
    height: 400px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0.8);
    padding-top: 70px; }
    footer form input, footer form textarea {
      display: block;
      margin: 10px auto;
      width: 250px; }
    footer form #send_button {
      display: none; }
    footer form label {
      margin-top: 10px;
      cursor: pointer;
      position: absolute;
      left: -webkit-calc(50% - 33px);
      left: calc(50% - 33px); }
  footer .copyright {
    background: #43a06d;
    padding: 10px;
    text-align: center; }
