.p-head{
	background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0)), url(../../img/city.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	min-height: 800px;
	position: relative;
	padding-left: 20px;
	padding-right: 20px;
	z-index: -1;
	@include breakpoint($mq-mobile){
			min-height: 700px;
		}
	@include breakpoint($mq-mobile-medium){
		min-height: 580px;
	}
}
.logo{
	padding-top: 68px;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	text-shadow: 1px 1px #000;
	@include breakpoint($mq-mobile){
		padding-top: 40px;
		padding-bottom: 40px;
	}

	&__img{
		width: 35vw;
		max-width: 273px;
		padding-bottom: 78px;
		@include breakpoint($mq-mobile){
			padding-bottom: 40px;
		}
	}
	&__slogan{
		font-size: 49px;
		text-transform: uppercase;
		line-height: 1.2;
		@include breakpoint($mq-tablet-small){
			font-size: 36px;
		}
		@include breakpoint($mq-mobile){
			font-size: 20px;
		}
	}
}
