@import "../core/variables";

.footer{
	position: relative;
	margin-top: -150px;
	#map{
		width: 100%;
		height: 640px;
	}
	.backlog{
		position: absolute;
		top: 160px;
		left: calc(50% - 215px);
		z-index: 3;
		width: 430px;
		height: 430px;
		border-radius: 50%;
		border: 1px solid #fff;
		background: rgba(255, 255, 255, 0.85);
		padding-top: 110px;
		.backlog-input{
			display: block;
			margin-right: auto;
			margin-left: auto;
			margin-bottom: 15px;
			width: 275px;
			border: 1px solid #d8d8d8;
		}
		.backlog-message{
			height: 80px;
		}
		.send-button{
			background-image: url('/img/ok_btn.png');
			width: 66px;
			height: 66px;
			border-radius: 50%;
			margin-top: 10px;
			cursor: pointer;
			position: absolute;
			left: calc(50% - 33px);
			outline: none;
		}

	}
	.copyright{
		background: $bgColorCopyright;
		padding-top: 21px;
		padding-bottom: 14px;
		text-align: center;
		font-size: 14px;
	}
}